* {
  margin: 0;
  padding: 0;
}
html,
body {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  font-size: x-large;
}

a,
a:visited {
}

#root {
  background: grey;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: end;
  gap: 1%;
  margin-bottom: 8%;
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__link {
  & > a {
    text-transform: capitalize;
    color: inherit;
    text-decoration: none;
  }
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.header__button {
  & img {
    height: 1em;
  }
  & > div {
    height: 100%;
    cursor: pointer;
  }
  & > div:hover {
    background: orange;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}
.header__icon {
  margin-right: 10%;
  & img {
    height: 1em;
  }
}
.central_image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  & img {
    height: 4rem;
  }
}

.search_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .search_bar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 1em;
    border: 1px solid red;
    border-radius: 15px;
    padding: 1%;
    gap: 0.5rem;
  }
  & .icon {
    height: 1em;
    padding-inline: 0.5rem;
  }
  & .input {
    width: 100%;
    height: 90%;
    background: transparent;
    border: 1px solid black;
    font-size: inherit;
  }
  & .container__separator {
    height: 100%;
    width: 0px;
    border: 1px solid red;
    margin-left: 0.5rem;
  }
}

.search_bar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1%;
  & > div {
    border: 1px solid red;
    padding: 0.2rem 0.5rem;
    text-transform: capitalize;
  }
}

.search_bar__language {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  & > a {
    font-weight: 700;
    text-decoration: none;
  }
  & > a:hover {
    text-decoration: underline;
  }
  & > a:visited {
    color: inherit;
  }
}

.footer {
  position: fixed; /* Fixed position */
  bottom: 0; /* Stick to the bottom */
  width: 100%; /* Full width */
  flex-direction: column;
  & .footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
  }
  & .row__element > span {
    padding-inline: 0.5rem;
  }
}
